html{
    overflow: auto;
}
.day{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #00d1b2;
    margin: 4px;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.activityHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.daysContainer{
    display: flex;
    flex-wrap: wrap;
}
.newActivity{
    background-color: #00d1b2;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
}